{% load static %}


<nav class="main-menu">
    <div class="container">
        <div class="main-menu__logo me-5">
            <a href="{% url 'home-dark' %}">
                <img src="{% static 'assets/images/IFD-P.png' %}" width="184" height="114" alt="Eduact">
                {% comment %} <span>IFDeaf</span> {% endcomment %}
            </a>
        </div><!-- /.main-menu__logo -->
        <div class="main-menu__nav">
            <ul class="main-menu__list">
                {% comment %} <li class="megamenu megamenu-clickable megamenu-clickable--toggler">
                    <a href="{% url 'index' %}">Home</a>
                </li> {% endcomment %}
                <li><a href="{% url 'index' %}">Home</a></li>

                <li class="dropdown">
                    <a href="#">Activities</a>
                   <ul>
                        <li><a href="{% url 'course-carousel' %}">Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'course-carousel' %}">Project</a>
                </li>
                
                <li class="dropdown">
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'cause' %}">Cause</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li class="dropdown"><a href="{% url 'team' %}">Team</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'donate' %}">Cause</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'product' %}">Products</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </li>

                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div><!-- /.main-menu__nav -->
        <div class="main-menu__right">
            <a href="#" class="main-menu__toggler mobile-nav__toggler">
                <i class="fa fa-bars"></i>
            </a><!-- /.mobile menu btn -->
            <a href="#" class="main-menu__search search-toggler">
                <i class="icon-Search"></i>
            </a><!-- /.search btn -->
            <a href="login.html" class="main-menu__login">
                <i class="icon-account-1"></i>
            </a><!-- /.login btn -->
            <a href="{% url 'donate' %}" class="eduact-btn"><span class="eduact-btn__curve"></span>Donate</a><!-- /.contact btn -->
        </div><!-- /.main-menu__right -->
    </div><!-- /.container -->
</nav>