{% extends "partials/lightall/baseall.html" %}
{% load static %}
{% block content %}

        <div class="stricky-header stricked-menu main-menu main-header-two">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header page-header--bg-two" data-jarallax data-speed="0.3" data-imgPosition="50% -100%">
            <div class="page-header__bg jarallax-img"></div><!-- /.page-header-bg -->
            <div class="page-header__overlay"></div><!-- /.page-header-overlay -->
            <div class="container text-center">
                <h2 class="page-header__title">Products</h2><!-- /.page-title -->
                <ul class="page-header__breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Shop</span></li>
                </ul><!-- /.page-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <!-- Products Start -->
        <section class="product">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">
                        <div class="product__info-top wow fadeInUp" data-wow-delay="200ms">
                            <div class="product__showing-text-box">
                                <p class="product__showing-text">Showing 1–9 of 12 Results</p>
                            </div>
                            <div class="product__showing-sort">
                                <select class="selectpicker" aria-label="Default select example">
                                    <option selected>Sort by popular</option>
                                    <option value="1">Sort by view</option>
                                    <option value="2">Sort by price</option>
                                    <option value="3">Sort by ratings</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-1.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Sofa Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-2.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Relax Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-3.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Office Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-4.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Relax Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-5.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Long Stool</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-6.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Round Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="{% static 'assets/images/product/product-7.jpg' %}" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Relax Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="assets/images/product/product-8.jpg" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Boss Sofa</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="product__item">
                                    <div class="product__item__img">
                                        <img src="assets/images/product/product-9.jpg" alt="eduact">
                                    </div><!-- /.product-image -->
                                    <div class="product__item__btn">
                                        <a href="cart.html"><i class="far fa-heart"></i></a>
                                        <a href="product-details.html"><i class="fas fa-eye"></i></a>
                                    </div><!-- /.product-btn -->
                                    <div class="product__item__content">
                                        <h4 class="product__item__title"><a href="product-details.html">Office Chair</a></h4><!-- /.product-title -->
                                        <div class="product__item__price"><ins>$25.00</ins><del>$30.00</del></div><!-- /.product-price -->
                                        <div class="product__item__ratings">
                                            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                        </div><!-- /.product-ratings -->
                                        <a href="cart.html" class="eduact-btn"><span class="eduact-btn__curve"></span>Add to Cart</a><!-- /.product-cart-btn -->
                                    </div><!-- /.product-content -->
                                </div><!-- /.product-item -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="blog-page__pagination clearfix">
                                <li><a href="products.html" class="active">1</a></li>
                                <li><a href="products.html">2</a></li>
                                <li class="next"><a href="products.html"><span class="icon-caret-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                        <div class="product__sidebar">
                            <div class="product__sidebar__single product__search">
                                <form class="product__search-form" action="#">
                                    <input type="search" placeholder="Type Here">
                                    <button type="submit"><span class="icon-Search"></span></button>
                                </form>
                            </div><!-- /.search-widget -->
                            <div class="product__sidebar__single product__price-ranger">
                                <h3 class="product__sidebar__title">Price</h3>
                                <div class="price-ranger">
                                    <div id="slider-range"></div>
                                    <div class="ranger-min-max-block">
                                        <input type="text" readonly class="min">
                                        <span>-</span>
                                        <input type="text" readonly class="max">
                                        <input type="submit" value="Apply">
                                    </div>
                                </div>
                            </div><!-- /.price-slider -->
                            <div class="product__sidebar__single product__categories">
                                <h3 class="product__sidebar__title">Categories</h3>
                                <ul class="list-unstyled">
                                    <li><a href="products.html">Web Development</a></li>
                                    <li><a href="products.html">Social Marketing</a></li>
                                    <li><a href="products.html">Technology</a></li>
                                    <li><a href="products.html">Business &amp; Finance</a></li>
                                </ul>
                            </div><!-- /.category-widget -->
                        </div><!-- /.shop-sidebar -->
                    </div><!-- /.column -->
                </div>
            </div>
        </section>
        <!-- Products End -->

{% endblock  %}


<!-- Mirrored from bracketweb.com/eduact-html/products-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Sep 2023 10:51:25 GMT -->
</html>